.navbar{
	color:white;
	height:85px;
}

.title {
  /*width: 33%;*/
  text-align: center;
  margin-bottom: 0px !important;
 	font-family: 'Cinzel', serif;
 	font-size:48px;
 	position:fixed;
 	top: 10px;
 	left:35%;
}

h3{
	width:33%;
	margin-right:5%;
	margin-top:15px;
}

#scoreDisplay{
	position:fixed;
	top:0px;
}

#topScoreDisplay{
	position:fixed;
	top:30px;
}

#message{
	position:fixed;
	margin-right: 15px;
	right:-140px;
	top:10px;
}

/* The animation code */
@keyframes incorrect {
    from {color: white;}
    to {color: red;}
}

/* The element to apply the animation to */
.incorrect {
    color: white;
    animation-name: incorrect;
    animation-duration: 0.5s;
}


